body {
    background-color: #468B97; 
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    border-color: #1D5B79;
}
h1 {
    text-align: center;
    font-size: 100px;
    background-color: #468B97; 
    color: rgba(93, 244, 154, 0.94); 
}
p {
    font-size: 40px;
    color: antiquewhite;
}

button {
    transition-duration: .4s;
    font-size: 20px;
    border-radius: 4px;
    border-color: #1D5B79;
    background-color: rgba(93, 244, 154, 0.94);  
}

button:hover {
    background-color: #b3f0fb;
}
